$black: #000000;
$white: #FFFFFF;
$charcoal: #343437;

$pale-gold: #EEE8AA;
$pale-gold-10: darken($pale-gold, 10%);
$pale-gold-20: darken($pale-gold, 20%);


// $pale-gold-2: #ECE9C9; more light bronzish

// $bronze: #B1AB7C;
// $rose-gold: #EFC5BC;

// Screen size variables
$screen-xs-min: 425px;  // Tiny phones
$screen-sm-min: 576px;  // Small tablets and large smartphones (landscape view)
$screen-md-min: 768px;  // Small tablets (portrait view)
$screen-md-max: 991px;  // Smaller than tablets and small desktops
$screen-lg-min: 992px;  // Tablets and small desktops
$screen-xl-min: 1200px; // Large tablets and desktops
