@import "variables";
@import "mixins";

.about-section {

  .section-header {
    @include section-header;
  }

  .hero-container {
    @include hero-container;
  }

  .hero-image-container {
    @include hero-image-container;

    .hero-image {
      height: 100%;
    }
  }

  .content-section {
    text-align: center;
    font-size: 28px;
    font-weight: 300;
    width: 800px;
    max-width: 80%;
    margin: 120px 0;
  }
}
