@import "variables";
@import "mixins";

.button {
  height: 60px;
  width: calc(100vw - 140px);
  background-color: #EEE8AA;
  padding: 8px ;
  border: none;

  &:hover {
    cursor: pointer;
  }

  .interior {
    border: 1px solid $white;
    height: 100%;
    width: 100%;

    .text {
      color: $white;
      font-size: 18px;
      line-height: 42px;
      letter-spacing: 1.5px;
      text-align: center;
      text-transform: uppercase;
    }
  }

  @include md {
    width: 250px;
  }
}
