@import "variables";

.button {
  height: 60px;
  min-width: 250px;
  background-color: #EEE8AA;
  padding: 8px ;
  border: none;

  .interior {
    border: 1px solid $white;
    height: 100%;
    width: 100%;

    .text {
      color: $white;
      font-size: 18px;
      line-height: 42px;
      letter-spacing: 1.5px;
      text-align: center;
      text-transform: uppercase;
    }
  }
}
