@import "variables";
@import "mixins";

.faq {
  max-width: 80%;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 20px;
  margin: 140px auto 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  a:link, a:visited {
    color: $primary-10;
    font-weight: 500;
    text-decoration: none;
  }

  .faq-section {
      .question {
        font-weight: 600;
        margin-bottom: 10px;
      }

      p {
        margin-bottom: 40px;
      }
  }

  @include md {
    max-width: 80%;
    font-size: 16px;
  }

  @include lg {
    width: 70%;
    max-width: 800px;
    line-height: 22px;
  }
}
