@import "variables";

.footer {
  background-color: $charcoal;
  display: flex;
  flex: 1 0 auto;
  flex-direction: row;
  justify-content: space-between;
  padding: 34px 46px;

  .copyright {
    color: $white;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: left;
    flex-basis: 60%;
    font-size: 12px;
    margin: auto 0;
  }

  .socials {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-basis: 40%;
    font-size: 18px;
    padding-top: 8px;

    a {
      margin: 0 0;
    }

    .facebook {
      color: $white;
      margin-right: 30px;
    }

    .instagram {
      color: $white;
    }
  }
}
