@import "variables";
@import "mixins";

.hero-container {
  width: 100%;
  max-height: 920px;
  height: 100vh;
  position: relative;

  @include lg {
    width: calc(100% - 140px);
  }
}

.hero-image-container {
  max-height: 800px;
  height: calc(100vh - 120px);

  .hero-image {
    height: 100%;
  }
}

.hero-content {
  width: calc(100vw - 40px);
  padding: 20px 30px 40px;
  background-color: $white;
  position: absolute;
  right: 0;
  bottom: 0;

  .content {
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 600;
    margin-bottom: 30px;
  }

  @include md {
    padding: 40px 65px;
    width: 500px;

    .content {
      font-size: 28px;
    }
  }

  @include lg {
    width: 600px;
  }
}
