@import "variables";
@import "mixins";

.hero-container {
  width: 100%;
  height: 100vh;
  position: relative;

  @include lg {
    width: calc(100% - 140px);
  }
}

.hero-image-container {
  @include hero-image-container;

  .hero-image {
    height: 100%;
  }
}

.hero-content {
  width: calc(100vw - 40px);
  max-width: 600px;
  padding: 20px 30px 40px;
  background-color: $off-white;
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: 100px;

  .content {
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 30px;

    &.sm {
      font-size: 14px;
    }
  }

  @include md {
    padding: 40px 65px;
    width: 500px;
    margin-bottom: 0;
  }

  @include lg {
    width: 600px;

    .content {
      font-size: 28px;

      &.sm {
        font-size: 20px;
      }
    }
  }
}
