@import "variables";
@import "mixins";

.hero-container {
  width: 100%;
  // min-height: 725px;
  max-height: 920px;
  height: 100vh;
  position: relative;
}

.content-container {
  @include content-container;
}

.section-header {
  @include section-header;
}

.booking-section {
  text-align: center;
  font-size: 28px;
  max-width: 800px;
  margin: 120px 0;

  .button-container {
    margin-top: 40px;
  }
}

.testimonial-section {
  width: 100%;
  max-width: 100vw;
  // Remove overflow when mobile styling is added
  overflow: hidden;
  margin: 140px 0;
}

.follow-section {
  display: flex;
  flex-direction: row;
  background-color: $charcoal;
  width: 100%;
  // Remove overflow when mobile styling is added
  overflow: hidden;

  .image-container {
    flex: 1 0 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    //temp
    background-color: grey;

    .insta-image {
      flex: 1 0 25%;
      height: auto;
    }
  }

  .follow-container {
    flex: 1 0 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    color: $white;
    text-transform: uppercase;
    font-size: 28px;
    letter-spacing: 4px;
    line-height: 33px;
    text-align: center;
    padding: 20px 40px;

    .icon {
      font-size: 38px;
      margin-bottom: 20px;
    }

    a {
      color: $white;
      text-decoration: none;

      .follow-text {
        // padding: 0 80px;
        max-width: 300px;
        margin: 0 auto;
      }

      .handle {
        color: grey;
        margin-top: 20px;
      }
    }
  }
}

@include lg {
  .hero-container {
    width: calc(100% - 140px);
  }
}
