@import "variables";
@import "mixins";

.layout-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.logo {
  position: absolute;
  left: 20px;
  color: $charcoal;
  z-index: 1000;
  text-transform: uppercase;
  letter-spacing: 3px;
  transition: opacity .35s, visibility .35s;
  display: flex;
  align-items: center;

  &.image {
    color: $primary;
  }

  &.show {
    opacity: 1;
    visibility: visible;
  }

  &.hide {
    opacity: 0;
    visibility: hidden;
  }

  .monogram {
    font-family: bennet-banner, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 68px;
    line-height: 110px;
    margin-right: 2px;
    margin-left: 6px;
    z-index: 1001;
  }

  .logo-text {
    position: relative;
    z-index: 1001;
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
  }

  @include lg {
    .monogram {
      font-size: 100px;
      line-height: 136px;
      margin-right: 4px;
    }

    .logo-text {
      font-size: 18px;
      letter-spacing: 2px;
      line-height: 24px;
    }
  }
}

// TODO: Hide nav button when scrolling
.nav-button-circle {
  position: fixed;
  top:  16px;
  // bottom: 16px; for bottom fixed button
  right: 20px;
  height: 58px;
  width: 58px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 100;
  opacity: .8;
  transition: opacity .25s ease;
  background-color: $off-white;

  &:hover {
    opacity: 1;

    span {
      background-color: $primary;
    }
  }
}

.nav-button {
  position: fixed;
  top: 35px;
  // bottom: 32px;
  right: 33px;
  height: 22px;
  width: 32px;
  cursor: pointer;
  z-index: 101;
  opacity: .8;
  transition: opacity .25s ease;
  background-color: $off-white;

  &.active {
    .top {
      transform: translateY(9px) translateX(0) rotate(45deg);
      background-color: $primary;
    }
    .middle {
      opacity: 0;
      background-color: $primary;
    }

    .bottom {
      transform: translateY(-9px) translateX(0) rotate(-45deg);
      background-color: $primary;
    }
  }

  span {
    background-color: $primary;
    border: none;
    height: 2px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition:  all .35s ease;
    cursor: pointer;

    &:nth-of-type(2) {
      top: 9px;
    }

    &:nth-of-type(3) {
      top: 18px;
    }
  }
}

.navigation {
  @include md-down {
    position: fixed;
    background: $charcoal;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    z-index: 50;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;

    &.open {
      opacity: 1;
      visibility: visible;
      height: 100%;
    }
  }

  @include lg {
    position: absolute;
    right: 0px;
    height: 100%;
  }
}

.content {
  flex: 1 0 760px;
}

.footer {
  flex-shrink: 0;
}
