.layout-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.navigation {
  position: absolute;
  right: 0px;
  height: 100%;
}

.content {
  flex: 1 0 725px;
}

.footer {
  flex-shrink: 0;
}
