@import "variables";
@import "mixins";

.new-clients {
  .section-header {
    @include section-header;

    .section-line {
      margin-bottom: 30px;
    }
  }

  text-align: center;
  font-size: 28px;
  font-weight: 400;
  width: 800px;
  max-width: 80%;
  margin: 140px auto;

  .booking-section {
    font-size: 12px;
  }

  @include md {
    .booking-section {
      font-size: 14px;
    }
  }
}
