@import "variables";
@import "mixins";

.new-clients {
  max-width: 80%;
  text-align: center;
  font-size: 28px;
  font-size: 16px;
  font-weight: 300;
  margin: 140px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  color: $charcoal;
  letter-spacing: 1px;

  a:link, a:visited {
    color: $primary-10;
    font-weight: 500;
    text-decoration: none;
  }

  .booking-section {
    max-width: 600px;
  }

  .appointment-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 40px;

    .appointment-step {
      flex: 1 0 100%;
      margin-bottom: 40px;

      .section-header {
        font-size: 16px;
        line-height: 39px;
        letter-spacing: 1px;
        font-family: titling-gothic-fb, sans-serif;
        color: $charcoal;
        margin-bottom: 30px;
      }
    }
  }

  .aftercare-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    max-width: 1000px;
    margin-bottom: 40px;
    margin-top: 40px;
    line-height: 24px;

    b {
      font-weight: 600;
    }
  }

  .policy-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
    margin-top: 40px;
    max-width: 700px;

    .policy {
      &:first-child {
        margin-bottom: 40px;
      }

      .policy-header {
        font-size: 14px;
        font-weight: 700;
        margin-bottom: 20px;
      }
    }

  }

  @include md {
    max-width: 70%;

  }

  @include lg {
    max-width: 100%;
    padding: 0 120px;

    .appointment-section {
      margin-bottom: 0;

      .appointment-step {
        flex: 1 0 33.33%;
        padding: 0 20px;

        .section-header {
          font-size: 24px;
        }
      }
    }
  }
}
