@import "variables";
@import "mixins";

.services-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .section-header {
    @include section-header;
  }

  .pricing-section {
    width: 100%;

    .pricing-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      flex: 1 0 auto;

      .services-container {
        display: flex;
        flex-direction: column;
        flex: 1 0 100%;
        background-color: #F6F6F6;
        position: relative;

        &:nth-of-type(2) {
          padding-bottom: 80px;
        }

        .pricing-note {
          position: absolute;
          bottom: 0;
          font-size: 14px;
          margin: 5px 0;
          text-align: center;
          width: 100%;
        }

        .services-item {
          display: flex;
          flex-direction: column;
          flex: 1 0 auto;

          .section-header {
            margin-top: 80px;

            .section-line {
              width: 130px;
              border: 3px solid $pale-gold-20;
              margin-bottom: 30px;
            }
          }

          .service {
            display: flex;
            flex-direction: row;
            font-size: 20px;
            padding: 6px 40px;

            .service-name {
              flex: 1 0 auto;
            }

            .price {
              flex: 1 0 auto;
              text-align: right;
              color: $pale-gold-20;
            }
          }
        }
      }
    }
  }

  @include lg {

    .pricing-section {
      padding: 60px 10%;

      .pricing-container {
        flex: 1 0 100%;

        // To Do: Make first services items of services container fixed height so second items start at even point
        .services-container {
          flex-basis: calc(50% - 80px);
          margin: 0 40px;
          padding-bottom: 40px;
        }
      }
    }
  }
}
