@import "variables";
@import "mixins";

.services-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .pricing-section {
    width: 100%;

    .pricing-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      flex: 1 0 auto;

      .services-container {
        display: flex;
        flex-direction: column;
        flex: 1 0 100%;
        background-color: $white;
        position: relative;
        padding-top: 80px;

        &:nth-of-type(2) {
          padding-bottom: 80px;
          padding-top: 0px;
        }

        .pricing-note {
          position: absolute;
          bottom: 0;
          margin: 5px 0;
          padding-left: 30px;

          font-style: italic;
          color: $muted;
          letter-spacing: 0.5px;
          font-weight: 300;
          font-size: 12px;
          line-height: 24px;
        }

        .services-item {
          display: flex;
          flex-direction: column;
          flex: 1 0 auto;
          margin-top: 80px;

          .section-header {
            margin-top: 80px;

            .section-line {
              width: 130px;
              border: 3px solid $primary;
              margin-bottom: 30px;
            }
          }

          .service {
            display: flex;
            flex-direction: row;
            font-size: 16px;
            letter-spacing: 1px;
            padding: 6px 30px;

            .service-name {
              flex: 1 0 auto;
            }

            .price {
              flex: 1 0 auto;
              text-align: right;
              color: $primary;

              &.muted {
                font-style: italic;
                color: $muted;
                letter-spacing: 0.5px;
                font-weight: 300;
                font-size: 12px;
                line-height: 28px;

                @include lg {
                  line-height: 26px;
                }
              }
            }
          }
        }
      }
    }
  }

  @include lg {

    .pricing-section {
      padding: 140px 8%;

      .pricing-container {
        flex: 1 0 100%;

        .services-container {
          flex-basis: calc(50% - 80px);
          margin: 0;
          padding: 0 100px 80px;

          // This makes second section start evenly with lasat section
          &:first-of-type {
            .services-item {
              &:nth-of-type(2) {
                padding-top: 130px;
              }
            }
          }
        }
      }
    }
  }

  @include xl {
    .pricing-section {
      padding: 140px 10%;
      max-width: 1600px;
    }
  }
}

