@import "mixins";
@import "variables";

.section-header {
  @include section-header;
}

.testimonial-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: stretch;

  .testimonial-item {
    align-self: center;
    flex: 1 0 33.33%;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1.2px;
    padding: 0 40px;

    .review {
      max-width: 400px;
      margin: 0 auto;
      color: $black;
    }

    .reviewer {
      margin-top: 20px;
      color: $pale-gold;
      font-weight: bold;
    }
  }
}
